/*Estilos fuera del producto*/
#columns.container, #slider_row.row, #columns > .row, #center_column{
  padding: 0;
  margin: 0;
}

/* scroller */
.scroller{
  position: relative;
  width: 86%;
  height: 2px;
  left: 7%;
  bottom: 30px;
  border-radius: 2px;
  
  background-color: rgba(223,223,223,0.6);
  cursor: pointer;
}
.scroller .scroller-mark{
  position: absolute;
  height: 100%;
  border-radius: 2px;

  background-color: rgba(76,76,76,0.6);
  cursor: pointer;

  transition: transform 400ms ease 0s;
}



/******************/
/*Estilos carousel*/
/******************/
#imagen-central{
  display: flex;
  max-width: 100%;

  padding: 0;
  margin: 0;

  overflow: hidden;
}

#imagen-central.row > .col-xs-12 {
  padding: 0;
  margin: 0;
  flex: 0 0 0%;

  transition: transform 350ms ease 0s;
}

.flex-nowrap {
  -webkit-flex-wrap: nowrap!important;
  -ms-flex-wrap: nowrap!important;
  flex-wrap: nowrap!important;
}
.flex-row {
  display:flex;
  -webkit-box-orient: horizontal!important;
  -webkit-box-direction: normal!important;
  -webkit-flex-direction: row!important;
  -ms-flex-direction: row!important;
  flex-direction: row!important;
}

#image-central img{
  width: 100%;
  height: auto;
  cursor: pointer;
}

#zoom-fullscreen{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index:8000;
}
#zoom-fullscreen #image-zoom{
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(2.2);
}

#zoom-fullscreen #close{
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 40px;
  width: 100px;
  height: 100px;
}

.icon-times{
  color:black;
  font-size: 20px;
}


/********************/
/* Estilos producto */
/********************/
#block-name-price{
  padding: 24px;
}

#product-name{
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.007em;
  font-size: 28px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #111;
}

#our_price_display{
  text-align: right;
  color: #111;
  font-size: 16px;
}

#block-tallas{
  margin: 40px 0px;
}

#imagen-miniatura{
  overflow: scroll;
}
#imagen-miniatura img{
  width: 125px;
  height: 142px;
}